<!DOCTYPE html>
<html>
<head>
  <title>Finding the killer Puzzle Game</title>
<style>
   /* Set the background color to a dark shade of blue */
body {
  background-color: #1c2331;
}

/* Style the game container */
.game-container {
  color: white;
  font-size: 24px;
  margin-top: 50px;
}

/* Center the text */
.center {
  text-align: center;
}

/* Style the start game button */
a {
  display: block;
  width: 200px;
  height: 50px;
  background-color: #ff4d4d;
  color: white;
  text-align: center;
  line-height: 50px;
  margin-top: 50px;
  font-size: 24px;
  border-radius: 10px;
  text-decoration: none;
}

a:hover {
  background-color: #ff6666;
}


</style>
</head>
<body>
  <div class="game-container"><center><h1>Finding the killer  Puzzle Game</h1></center></div>
  <div class="game-container"><center><p>You were given a story or some scenario.Read the backdrop story or scenario  and find the killer from the given clues/riddles:</p></center></div>
  <div class="game-container"><center><p><%= story %></p></center></div>
 <center> <a href="/level1"><b>START GAME</b></a></center>
</body>
</html>
